.popup__input {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
    width: 358px;
    min-height: 27px;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    color: #000;
}

.popup__input:focus {
    outline: none;
    border: 1px solid #079dd9;
    border-radius: 5px;
}

@media screen and (max-width: 850px) {
    .popup__input {
        margin-left: 21px;
        margin-bottom: 30px;
        font-size: 14px;
        
    }
}

@media screen and (max-width: 490px) {
    .popup__input {
        width: 238px;
    }
}
