.profile {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 51px;
    min-height: 120px;
    display: flex;
}

@media screen and (max-width: 580px){
    .profile {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 580px;
    padding: 40px 0 0;
    align-items:center;
    }
}
