.profile__status {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media screen and (max-width: 580px) {
    .profile__status {
        text-align: center;
        font-size: 14px;
    }
}
