.element__image {
    width: 282px;
    height: 280px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

@media screen and (max-width: 880px) {
    .element__image {
        width: 340px;
    }
}

@media screen and (max-width: 740px) {
    .element__image {
        width: 282px;
    }
}

@media screen and (max-width: 580px) {
    .element__image {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .element__image {
        width: 282px;
    }
}
